In [1]:
%load_ext autoreload

In [2]:
# %autoreload 2
from onsstove.onsstove import OnSSTOVE
from onsstove.layer import RasterLayer

In [3]:
import os

In [4]:
nepal = OnSSTOVE(project_crs=3857, cell_size=(1000, 1000))
output_directory = 'test'

In [5]:
path = r"data\population_npl_2018-10-01.tif"
os.makedirs('test/rasters/population', exist_ok=True)
population = RasterLayer('rasters', 'population', layer_path=path, resample='sum')

In [6]:
population.reproject(3857, 'test/rasters/population', 1000, 1000)

In [7]:
population.meta

{'driver': 'GTiff',
 'dtype': 'float64',
 'nodata': nan,
 'width': 906,
 'height': 501,
 'count': 1,
 'crs': CRS.from_epsg(3857),
 'transform': Affine(1000.0, 0.0, 8911604.530253576,
        0.0, -1000.0, 3543692.835585969)}

In [8]:
nepal.population_to_dataframe(population)

In [9]:
nepal.df

                             geometry  population
0     POINT (9065104.530 3518192.836)    4.137804
1     POINT (9095104.530 3510192.836)   10.798401
2     POINT (9046104.530 3507192.836)    8.405575
3     POINT (9108104.530 3500192.836)   13.607732
4     POINT (8975104.530 3490192.836)   10.356868
...                               ...         ...
3330  POINT (9715104.530 3049192.836)   10.108091
3331  POINT (9715104.530 3048192.836)   10.108091
3332  POINT (9799104.530 3048192.836)   10.519350
3333  POINT (9719104.530 3046192.836)   16.484153
3334  POINT (9797104.530 3044192.836)   10.519350

[3335 rows x 2 columns]

In [10]:
path = r"data\nighttime_lights.tif"
os.makedirs('test/rasters/ntl', exist_ok=True)
ntl = RasterLayer('rasters', 'ntl', layer_path=path, resample='average')
ntl.align(population.path, 'test/rasters/ntl')

In [11]:
nepal.raster_to_dataframe(ntl, method='read')

In [12]:
nepal.df

                             geometry  population       ntl
0     POINT (9065104.530 3518192.836)    4.137804  0.000000
1     POINT (9095104.530 3510192.836)   10.798401  0.000000
2     POINT (9046104.530 3507192.836)    8.405575  0.000000
3     POINT (9108104.530 3500192.836)   13.607732  0.643610
4     POINT (8975104.530 3490192.836)   10.356868  0.000000
...                               ...         ...       ...
3330  POINT (9715104.530 3049192.836)   10.108091       NaN
3331  POINT (9715104.530 3048192.836)   10.108091       NaN
3332  POINT (9799104.530 3048192.836)   10.519350  0.000000
3333  POINT (9719104.530 3046192.836)   16.484153  0.443283
3334  POINT (9797104.530 3044192.836)   10.519350       NaN

[3335 rows x 3 columns]